.card {
  padding: 1.4rem;
  width: 26.5rem;
  background-color: $Color-white;
  border-radius: 1.5rem;

  &__image {
    width: 100%;
    border-radius: 1rem;
  }

  &__content {
    margin: 1rem;
    text-align: center;
  }

  &__title {
    color: $Color-dark-blue;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  &__text {
    font-size: 1.1rem;
    text-align: center;
    color: $Color-grayish-blue;
  }

}